@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

/*
  Josh's CSS Reset (Slightly modified)
*/

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
	overflow-wrap: break-word;
	font-family: "Audiowide", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #222;
}

p {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

#root,
#__next {
	isolation: isolate;
}

/*
    End of CSS Reset
*/

/* 
    Global Styles
*/

:root {
	--primary-colour: #ff901f;
	--secondary-colour: #f222ff;
	--tertiary-colour: #8c1eff;
	--light-colour: #fff;
	--dark-colour: #222;
}

body {
	background: #222;
}

/* 
    End of Global Styles
*/

/* 
    Nav Styles
*/

.navbar-brand {
	font-weight: 700;
	font-family: "Audiowide", sans-serif;
	background: linear-gradient(var(--primary-colour), var(--secondary-colour));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

nav a {
    font-family: "AudioWide", sans-serif;
    letter-spacing: 2px;
}

/* 
    End of Nav Styles
*/

/*
    Hero Styles
*/

.hero {
	position: relative;
	z-index: 1;
	background-image: url(../img/retrowave-bg.webp);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-bottom: 5px solid var(--primary-colour);
}

.hero:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.hero .container {
	position: relative;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}

.hero p {
	color: #fff;
	text-align: center;
	max-width: 50%;
	margin: 2rem auto;
}

.stack {
	display: grid;
	grid-template-columns: 1fr;
	text-align: center;
}

.stack span {
	background: linear-gradient(var(--primary-colour), var(--secondary-colour));
	background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-top: 2rem;
	font-family: "Audiowide", sans-serif;
	font-weight: bold;
	grid-row-start: 1;
	grid-column-start: 1;
	font-size: 4rem;
	--stack-height: calc(100% / var(--stacks) - 1px);
	--inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
	--clip-top: calc(var(--stack-height) * var(--index));
	--clip-bottom: calc(var(--stack-height) * var(--inverse-index));
	clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
	animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 1s ease infinite 0.2s alternate-reverse;
}

.stack span:nth-child(odd) {
	--glitch-translate: 8px;
}

.stack span:nth-child(even) {
	--glitch-translate: -8px;
}

@keyframes stack {
	0% {
		opacity: 0;
		transform: translateX(-50%);
		text-shadow: -2px 3px 0 var(--secondary-colour), 2px -3px 0 var(--tertiary-colour);
	}

	;

	60% {
		opacity: 0.5;
		transform: translateX(50%);
	}

	80% {
		transform: none;
		opacity: 1;
		text-shadow: 2px -3px 0 var(--secondary-colour), -2px 3px 0 var(--tertiary-colour);
	}

	100% {
		text-shadow: none;
	}
}

@keyframes glitch {
	0% {
		text-shadow: -2px 3px 0 var(--secondary-colour), 2px -3px 0 var(--tertiary-colour);
		transform: translate(var(--glitch-translate));
	}

	2% {
		text-shadow: 2px -3px 0 var(--secondary-colour), -2px 3px 0 var(--tertiary-colour);
	}

	4%,
	100% {
		text-shadow: none;
		transform: none;
	}
}

/* 
    End Of Hero Styles
*/

/* 
    Popular Section Styles
*/

.popular h2 {
	color: var(--light-colour);
	position: relative;
	z-index: 2;
	text-align: center;
}

.popular .grid {
	position: relative;
	z-index: 2;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1rem;
}

.popular .card {
	padding: 1rem;
	background:
		radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 8px, transparent 8px) 0% 0%/9px 9px no-repeat,
		radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 8px, transparent 8px) 100% 0%/9px 9px no-repeat,
		radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 8px, transparent 8px) 0% 100%/9px 9px no-repeat,
		radial-gradient(circle at 0 0, #ffffff 0, #ffffff 8px, transparent 8px) 100% 100%/9px 9px no-repeat,
		linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 2px) calc(100% - 18px) no-repeat,
		linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 18px) calc(100% - 2px) no-repeat,
		linear-gradient(90deg, var(--primary-colour) 0%, var(--secondary-colour) 100%);
}

.popular img {
	filter: grayscale(75%);
	transition: filter 0.3s ease-in;
}

.popular .card:hover img {
	filter: grayscale(0%);
}

/* 
    End of Popular Section Styles
*/

/* Footer */
.main-footer {
	background: #020d18;
	padding: 20px 0;
}

.main-footer span {
	color: #fff;
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-footer .container .logo {
	color: #fff;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
}

.main-footer .container .social-links {
	display: flex;
	font-size: 20px;
}

.main-footer .container .social-links a {
	margin-left: 10px;
	color: #fff;
}

.main-footer .container .social-links a:hover {
	color: var(--color-secondary);
}

/*
    End of Footer Styles
*/